<h1> Welcome to A1 Fitness  </h1>
<em><h4> Taking a prime stake in your fitness since 1831 </h3></em>

<%= form_for @user do |f| %> 
    <fieldset>
    <legend> Create Your Account </legend>
        <p>
        <%= f.label :first_name %> 
        <%= f.text_field :first_name %> 
        </p>

        <p>
        <%= f.label :last_name %> 
        <%= f.text_field :last_name %>
        </p>

        <p>
        <%= f.label :username %> 
        <%= f.text_field :username %>
        </p>

        <p>
        <%= f.label :email %>
        <%= f.text_field :email %> 
        </p>
    </fieldset>

    <fieldset>
    <legend> Account Type </legend>
        <%= f.select :user_type, ["","Trainer", "Athlete"] %> <em> Please select Trainer or Athlete. </em>
    </fieldset>

    <p>
    <%= f.submit "Signup"  %>
    </p>
    
    <% end %> 